<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} Sameer Jain's Website {% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap">

  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/main.css">

  <!-- Favicon links -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <script src="https://kit.fontawesome.com/c8cf0c94c8.js" crossorigin="anonymous"></script>
  <script src="/main.js"></script>
</head>
<body>

  <canvas id="background-canvas"></canvas>

  <!-- Navigation Menu -->
  <nav>
    <ul>
      {% for item in config.extra.menu %}
        <li><a href="{{ item.url }}" class="{% if section == item.name %}active{% endif %}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <!-- Header Section -->
  {% block header %}
    <header>
      <div class="header-content">
        <h1>Sameer Jain's Website</h1>
        <p>Welcome to my personal website. Here you can explore my research, blogs, and more!</p>
      </div>
    </header>
  {% endblock %}

  <!-- Main Content Section -->
  <main>
    {% block content %}
    {% endblock %}
  </main>

</body>
</html>
