{% extends "base.html" %}

{% block extra_data %}
{% set section = "Home" %}
{% endblock %}

{% block title %}
Sameer Jain
{% endblock %}

{% block header %}
  {% include "main-header.html" %}
{% endblock %}

{% block content %}
    <main>

<p>Hi, I'm Sameer Jain—a <a href="https://en.wikipedia.org/wiki/Human">human</a> (or at least that's what I've been told).  I'm recently completed my Master's in Physics at <a href="#">Dr. B. R. Ambedkar National Institute of Technology</a> with <a href="#">Dr. Harleen Dahiya</a>. I did my Bachelor's in Physics at Jiwaji University. I recently graduated with an M.Sc. in Physics from NITJ, and I'm currently exploring PhD opportunities in High Energy Physics (HEP).</p>
        <p>I live on this planet called Earth, and I think I’m a <a href="https://en.wikipedia.org/wiki/Carbon-based_life">carbon-based</a> being. But then again, that’s just my current understanding. Who knows what the future holds?</p>

        <h2>So, why this website?</h2>

        <p class="highlight">a) This website exists as a reflection of me—my thoughts, interests, and ideas. It’s less about purpose and more about expression.</p>

        <p class="highlight">b) I noticed that many scientists had personal websites. My friend <a href="https://mandeepairborne.github.io/">Mandeep</a> was kind enough to help me set this up, so now I have one too.</p>

        <h2>Things worth noting</h2>

        <p>The purpose of this website is simple: <span class="highlight">an expression of my existence.</span> While I try to be considerate of human values, it’s possible that something here might offend you. If that happens, remember: it’s not you, it’s me. I’m a work in progress!</p>

        <p>If you happen to spot any logical inconsistencies or something that seems unbearable, I'd really appreciate it if you could drop me an email and point it out. Constructive criticism is always welcome.</p>


    </main>

    <footer>
        Last updated: 2024-11-18.
    </footer>
{% endblock %}
